<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTful ToDo</title>
</head>

<body>
    <h1>TODO!</h1>
    <form method="POST" action="/new/list">
        <input name="title" type="text">
        <button>add</button>
    </form>
    <ul>
        <% for (let list of lists) {%>
            <li><a href="/list/<%=list._id%>"><%= list.title %></a></li>
        <%}%>
    </ul>
</body>
</html>