body {
    margin: 0;
    background: orange;
    display: flex;
    font-family: monospace;
}

h1 {
    margin: 0;
}

.container {
    background: white;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#turns {
    font-size: 2em;
    height: 1.5em;
}

#results {
    height: 1em;
    letter-spacing: 0.5em;
    margin-bottom: 2em;
    font-size: 2em;
}

.keyboard_row {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.keyboard_row button {
    width: 2em;
    height: 2em;
    font-family: monospace;
}

.keyboard_row button:hover {
    cursor: pointer;
}

@media (min-width: 650px) {
    body {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .container {
        width: min-content;
        height: min-content;
        padding: 3em;
        border-radius: 0.5em;
    }
}