body {
    margin: 0;
    font-family: "Verdana" sans-serif;
}

h2, p {
    margin: 0
}

.wrapper {
    height: 100vh;
    background: #5f5f5f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-box {
    height: 45vh;
    width: 80vh;
    background: white;
    position: relative;
    overflow: hidden;
}

.navigation{
    position: absolute;
    top: 50%;
    z-index: 1;
}

.navigation:hover {
    cursor: pointer;
}

#left-button {
        left: 0;
}

#right-button {
    right: 0;
}

article {
    height: inherit;
    width: 100%;
    position: absolute;
}

#article-1 {
    background: coral;
}
#article-2 {
    background: turquoise;
    left: 100%;
}