body {
    margin: 0;
    font-family: "Verdana";
}

p {
    margin: 0;
}

.wrapper {
    height: 100vh;
    background: linear-gradient(#330033, #1a0013);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-box {
    height: 45vh;
    width: 80vh;
    background: white;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid black;
}

.main-navigation {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between
}

.navigation-arrows{
    background: none;
    border: none;
    padding: 0px 10px;
    width: 100%;
}

.navigation-arrows:hover {
    cursor: pointer;
    color: white;
}

#left-button {
    left: 0;
    text-align: start;
}

#right-button {
    right: 0;
        text-align: end;

}

article {
    height: inherit;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

article p {
    font-size: 3em;
}

#navigation-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: grey;
    
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    z-index: 1;
}

#active-dot {
    color: white;
    opacity: 100%;
} 

.dot {
    margin: 0px 5px;
    opacity: 70%;
}

.dot:hover {
    cursor: pointer;
    color: white;
}

#article1 {background: #00cc00;}
#article2 {background: #0099ff;}
#article3 {background: #ffcc00;}

footer {
    position: absolute;
    bottom: 0;
    color: white;
    opacity: 50%;
    margin-bottom: 10px;
    font-size: 10px;
}