html {
    font-family: 'Courier New', Courier, monospace;
}

button {
    font: inherit;
    border: none;
    border-radius: 5px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    background-color: rgb(0,9,26);
    border-radius: 5px;
}

#play {
    width: 300px;
    margin: 1em;
    padding: 0.5em;
    color: white;
}

.play {
    background-color: rgb(71, 185, 71);
}

.stop {
    background-color: rgb(89, 59, 100);
}

#controls button {
    background-color: rgb(255, 182, 73);
    color: rgb(0,9,26);
    height: 3em;
    width: 3em;
    font-size: 1.2em;
}

#controls {
    display: grid;
    grid-template-areas: '. up .' 'left . right' '. down .';
    gap: 0.25em;
}

#up {grid-area: up;}
#left {grid-area: left;}
#right {grid-area: right;}
#down {grid-area: down;}